body {
    font-family: 'Patrick Hand', cursive;
    background-color: #FAF1E6;
    margin: 0;
    padding: 0;
    text-align: center;
}

#main-title {
    font-size: 2.5em;
    color: #99BC85;
    margin: 20px 0;
}

#menu, #dialogue-box, #interactive-area {
    background: #FDFAF6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    background: #E4EFE7;
    color: rgb(17, 17, 17);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#menu li:hover {
    background: #99BC85;
    color: white;
}

#regex-input {
    width: 90%;
    padding: 15px;
    font-size: 1.2em;
    border: 2px solid #99BC85;
    border-radius: 5px;
    margin-top: 10px;
}

#display-text {
    font-size: 1.2em;
    margin-bottom: 10px;
}
